
<div class="container">
  <div class="mx-auto width-fit-content pl-5">
    <pre class="oldschool-text-color font-weight-bold">
      _,.
    ,` -.)
   ( _/-\\-._
  /,|`--._,-^|            ,
  \_| |`-._/||          ,'|
    |  `-, / |         /  /
    |     || |        /  /
     `r-._||/   __   /  /
 __,-<_     )`-/  `./  /
'  \   `---'   \   /  /
    |           |./  /
    /           //  /
\_/' \         |/  /
 |    |   _,^-'/  /
 |    , ``  (\/  /_
  \,.->._    \X-=/^
  (  /   `-._//^`
   `Y-.____(__}
    |     {__)
          ()
    </pre>
  </div>
  <div class="text-center">
    <% if current_user.nil? %>
      <%= link_to new_user_session_path, class: 'login-button' do %>Get Thee In<% end %>
    <% else %>
      <%= link_to lobby_index_path do %>Start Thine Adventure, <%= current_user.username %><% end %>
    <% end %>
  </div>
</div>
