<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= text_field_tag :username,"", placeholder: "Username", class: "has-text-centered" %>
  </div>

  <div class="field">
    <%= password_field_tag :password, "", placeholder: "Password", class: "has-text-centered" %>
  </div>

  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>
