<%= render "/ascii/castle" %>

<% content_for :text_form do %>
  <% unless @user&.errors.any? %>
    <div class="text-center">Register for Possible Adventure</div>
  <% end %>

  <%= render 'form', user: @user %>

  <%= link_to 'Back', root_path %>
<% end %>

<% content_for :sidebar do %>
  <%= render "/ascii/troll" %>
<% end %>
