<div class="text-center">
  <%= ascii("castle") %>
</div>

<% unless @user&.errors.any? %>
  <p class="text-center mb-4">Register for Possible Adventure</p>
<% end %>

<div class="border-2 border-terminal-green border-dashed p-4">
  <%= render 'form', user: @user %>
</div>
