<h2 class="text-center mb-0">Welcome, Ye Adventurer</h2>
<%= render "knight" %>
<p><b>SUPER</b> Text Adventure combines the free-form joy of a session of D&D, with the interface limitations of the old text-based adventure games. Join a game as an adventurer, or host a game to create your own world...</p>

<p class="text-center"><b>Type. Your. Story.</b></p>
