<h3 class="text-center mb-0">Games</h3>

<div id="games">
  <% if @games.present? %>
    <% @games.each_with_index do |game, game_number| %>
      <%= render "/games/game_list_card", game: game, game_number: game_number + 1 %>
    <% end %>
  <% else %>
    <p class="text-center">** NO AVAILBLE GAMES **</p>
  <% end %>
</div>
