<% if @hosted_games.blank? && @joinable_games.blank? && @joinable_games.blank? %>

  <h3 class="text-center mb-0">Tables</h3>
  <p class="text-center">** NO OPEN TABLES **</p>

<% else %>
  <% game_counter = 1 %>
  <div id="games">
    <% { hosted: @hosted_games, joined: @joined_games, joinable: @joinable_games }.each do |type, games| %>
      <% if games.present? %>
        <h3 class="text-center mb-0"><%= type.to_s.titleize %> Tables</h3>

        <% games.each do |game| %>
          <%= render "/games/game_list_card", game: game, game_number: game_counter %>
          <% game_counter += 1 %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% end %>
