<%= turbo_frame_tag(:players) do %>
  <div class="players">
    <% game_users.each do |game_user| %>
      <%= render "/games/player", game_user: game_user, online: game_user.is_online? %>
    <% end %>
  </div>
<% end %>
