<div id="text_form_content">
  <% in_limbo = game.game_state.dig("player_states", user.id.to_s, "waiting_for_combat_end") %>
  <% order = game.turn_state["turn_order"] || [] %>
  <% on_turn = !in_limbo && (order.length <= 1 || game.current_turn_user_id == user.id) %>

  <div class="<%= 'hidden' unless on_turn %>">
    <%= render(TerminalInputComponent.new(
      prompt: "",
      stimulus_controllers: ["game"],
      stimulus_values: {
        "game-id": game.id,
        "game-user-id": game.game_user(user)&.id || (game.host?(user) ? :host : nil)
      }
    )) %>
  </div>

  <% unless on_turn %>
    <div class="italic opacity-70 py-2">
      <% if in_limbo %>
        Waiting for combat to finish...
      <% else %>
        <% current_name = game.character_name_for(game.current_turn_user_id) || "another player" %>
        Waiting for <%= current_name %>...
      <% end %>
    </div>
  <% end %>
</div>
