<%= turbo_frame_tag(:typing) do %>
  <div class="typing-indicator <%= "is-hidden" if typers.count.zero? %>">
    <%= typers.map(&:character_name).join(" and ") %> <%= typers.one? ? "is" : "are" %> typing...
  </div>
<% end %>
