<p id="notice"><%= notice %></p>

<h1 class="is-title is-size-4">Games</h1>

<div class="columns">
  <div class="column is-one-third border-right">
    <p class="has-text-centered">
      Games You Host
    </p>

    <div>
      <% current_user.hosted_games.each do |game| %>
        <%= render "game_card", game: game %>
      <% end %>
    </div>
  </div>
  <div class="column is-two-thirds"></div>
</div>

<br>

<%= link_to 'New Game', new_game_path %>
