<p id="notice"><%= notice %></p>

<h1 class="is-title is-size-3">
  <span>Games</span>
  <%= link_to 'New Game', new_game_path, class: "button" %>
</h1>

<hr>

<div class="columns">
  <div class="column is-one-third border-right">
    <p class="has-text-centered has-text-weight-bold is-size-5 mb-2">
      Games You Host
    </p>

    <% if current_user.hosted_games.present? %>
      <% current_user.hosted_games.each do |game| %>
        <%= render "game_card", game: game %>
      <% end %>
    <% else %>
      <p class="has-text-centered is-size-5">-- None --</p>
    <% end %>


  </div>
  <div class="column is-two-thirds">
    <p class="has-text-centered has-text-weight-bold is-size-5 mb-2">
      Games You're In
    </p>

    <div class="columns">
      <% if current_user.games.present? %>
        <% current_user.games.each do |game| %>
          <div class="column is-half">
            <%= render "game_card", game: game %>
          </div>
        <% end %>
      <% else %>
        <div class="column is-full has-text-centered is-size-5">-- None --</div>
      <% end %>
    </div>
  </div>
</div>
