<h3 class="text-center mb-0">Ye Olde Tavern</h3>
<%= ascii("tavern") %>
<p class="mb-0 mt-2">You see many tables. Some contain adventurers. Others sit empty.</p>
<p class="mb-0">You may...</p>
<ul>
  <li><strong>LIST TABLES</strong> to see a list of joinable games</li>
  <li><strong>NEW TABLE</strong> to start a new adventure</li>
  <li><strong>JOIN TABLE &lt;#&gt;</strong> to join a game</li>
</ul>

<% content_for :text_form do %>
  <%= render "/shared/terminal_input", prompt: "Tavern", controllers: ["tavern"] %>
<% end %>

<% content_for :sidebar do %>
  <% if notice %>
    <div class="notice blink text-center"><%= notice %></div>
  <% end %>
  <%= render template: "/games/list" %>
<% end %>
