<div id="game-layout">
  <div class="columns is-gapless">
    <div class="column is-two-thirds">
      <div id="game-messages-container">
        <h2>Messages</h2>
      </div>
      <div id="message-form-container">
        <h2>Message Form</h2>
      </div>
    </div>
    <div class="column is-one-third">
      <div id="sidebar-container">
        <h2>Sidebar</h2>
      </div>
    </div>

  </div>
</div>
