<div id="game-messages" data-controller="scroll">
  <%= turbo_stream_from(@game, :messages) %>
  <%= turbo_frame_tag(:messages, data: { "scroll-target": "container" }) do %>
    <% @game.messages.latest.each do |message| %>
      <%= render "/messages/message", message: message %>
    <% end %>
  <% end %>
</div>

<% content_for :text_form do %>
  <%= render "/shared/terminal_input", prompt: "", controllers: ["game"], values: { game: [ [ :game, @game.id ], [:"game-user", @game.game_user(current_user)&.id ] ] } %>
<% end %>

<% content_for :sidebar do %>
  <p>This is the sidebar</p>
<% end %>
