<div id="game-messages">
  <h3>Messages</h3>
</div>

<% content_for :text_form do %>
  <%= render "/shared/terminal_input", prompt: "", controllers: ["game"], values: { game: [ [ :user, current_user.id ], [ :game, @game.id ] ] } %>
<% end %>

<% content_for :sidebar do %>
  <p>This is the sidebar</p>
<% end %>
