<div class="lobby-container px-4">
  <h4 class="text-center w-100">Lobby</h4>
  <div class="row">
    <div class="col-md-8 border-container">
      <div class="lobby-filters w-100 py-2">
        <div class="form-check form-check-inline filter-trigger">
          <input class="form-check-input boolean optional" type="checkbox" value="1" name="friendly_games" id="friendly_games">
          <label class="form-check-label boolean optional" for="friendly_games">Friend's Games</label>
        </div>
        <div class="form-check form-check-inline filter-trigger">
          <input class="form-check-input boolean optional" type="checkbox" value="1" name="my_games" id="my_games">
          <label class="form-check-label boolean optional" for="my_games">My Games</label>
        </div>
        <div class="d-inline-block">
          <%= link_to new_game_path, class: "btn btn-sm" do %>
            Create Game +
          <% end %>
        </div>
      </div>
      <div class="games-container loading w-100 border-container border-left-0 border-right-0 border-bottom-0">
        <div class="games-list"></div>
        <div class="games-loading text-center pt-5 loader"></div>
      </div>
    </div>

    <div class="col-md-4 border-container border-left-0">
      <div class="friends-containter">
        <p class="section-header">Friends</p>
      </div>
    </div>
  </div>
</div>
