<h3 class="text-center my-5 text-2xl">Token Management</h3>

<%= render(NoticeComponent.new(message: notice)) %>

<p class="mb-6">Here you can generate links to send to your friends. This will allow them to create a username and a password and join your game(s).</p>


<% content_for :sidebar do %>
  <%= ascii("bricks") %>
<% end %>
