<div id="<%= dom_id game_message %>" class="columns">
  <div class="column is-narrow"><span class="message-user"><%= game_message.user.username %></span>:</div>
  <div class="column message-text"><%= game_message.content %></div>
</div>
