<div class="game-message" data-usermname="<%= message.user.username %>">
  <% if show_username %>
    <div class="py-1 game-message-user-divider"></div>
    <span class="font-weight-bold">
      <%= message.user.username.upcase %>:
    </span><br>
  <% else %>
  <% end %>
  <div class="pl-4"><%= message.body %></div>
</div>
