.game-list-card {
  width: 100%;
  padding: 20px;
  border: solid 1px var(--font-color);
  margin-bottom: 10px;
}

#game-messages {
  padding-bottom: 200px;
}

.message.host-message {
  padding: 20px 0;
  color: #ffffff;
}

.message.host-message .display-name {
  font-weight: bold;
  color: #ffffff;
}

.message.host-message .message-content {
  font-style: italic;
  color: #ffffff;
}

.message.host-message + .message.host-message {
  padding-top: 0;
}

.current-context p {
  font-style: italic;
}

.players {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
}

.players .player {
  text-align: center;
  font-size: 60%;
}

.players .player pre {
  font-size: 10px;
}

.game-message-form {
  position: relative;
}

.game-message-form .typing-indicator {
  position: absolute;
  top: -34px;
  font-size: 70%;
  background-color: var(--background-color);
}
