.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
}

.header h1 {
  padding: 2px 0;
  white-space: nowrap;
  overflow: visible;
}

.header h1:before {
  content: "> ";
}
