.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pt-1 {
  padding-top: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mx-auto {
  margin: 0 auto;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    opacity: 0.7;
  }
}
