$terminal-bg: #282823;
$terminal-text: #8fe86b;
$terminal-text-light: #bafb9f;
$terminal-text-opaque: rgba(143, 232, 107, 0.3);

// Layout
html, body {
  height: 100%;
  background-color: $terminal-bg;
  font-family: "DotGothic16", monospace;
  color: $terminal-text;
}

a {
  color: $terminal-text;
  text-decoration: underline;

  &:hover {
    color: $terminal-text-light;
  }
}

.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

header {
  border-bottom: 2px solid $terminal-text-opaque;

  h1 a {
    text-decoration: none;
  }
}

.main {
  font-size: 120%;
  padding: 0 15px;
  height: calc(100% - 100px);
}

pre {
  width: fit-content;
  background-color: transparent;
  color: $terminal-text;
}

footer {
  position: fixed;
  bottom: 0;
  border-top: 2px solid $terminal-text-opaque;
  width: 100%;
  font-size: 1.5rem;
  background-color: $terminal-bg;

  .footer-controls {
    .divider {
      font-weight: bold;
    }

    .footer-control-item {
      display: inline-block;
      font-weight: bold;

      .text-filled {
        background-color: #8fe86b;
        color: $terminal-bg;
        padding: 0 2px;
        margin-right: 2px;
      }
    }
  }
}

// Buttons
a.button {
  text-decoration: none;
}

.button {
  padding: 2px 10px;
  border: solid 2px $terminal-text;
  color: $terminal-text;
  font-size: 1.5rem;
  display: inline-block;

  &:hover {
    color: $terminal-text-light;
    background-color: $terminal-text-opaque;
  }
}

// Form
label {
  text-transform: uppercase;
}

input, textarea, option, select, optgroup {
  font-family: "DotGothic16", monospace;
}

input[type="submit"] {
  cursor: pointer;
}

.field_with_errors {
  display: inline-block;
}

input, textarea {
  background-color: transparent;
  outline: none;
  caret-color: $terminal-text;
  color: $terminal-text;
  border: solid 1px $terminal-text-opaque;
  padding: 5px;
  font-size: 1.5rem;

  &::placeholder {
    color: $terminal-text-opaque;
    text-transform: uppercase;
  }
}
