$terminal-bg: #282823;
$terminal-text: #8fe86b;
$terminal-text-border: rgba(143, 232, 107, 0.3);

html, body {
  height: 100vh;
  background-color: $terminal-bg;
  font-family: "DotGothic16", monospace;
  color: $terminal-text;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

header {
  border-bottom: 2px solid $terminal-text-border;
}


footer {
  position: fixed;
  bottom: 0;
  border-top: 2px solid $terminal-text-border;
  width: 100%;

  .footer-controls {
    .divider {
      font-weight: bold;
    }

    .footer-control-item {
      display: inline-block;
      font-weight: bold;

      .text-filled {
        background-color: #8fe86b;
        color: $terminal-bg;
        padding: 0 2px;
        margin-right: 2px;
      }
    }
  }
}
