<div class="footer-hotkeys" data-controller="hotkey">
  <span class="footer-hotkey-item">
    <span class="text-filled">^H</span>ome
  </span>

  <% if !logged_in? %>
    <span class="divider mx-1">|</span>
    <span class="footer-hotkey-item">
      <span class="text-filled">^R</span>egister
    </span>
  <% end %>

  <% if logged_in? %>
    <span class="divider mx-1">|</span>
    <span class="footer-hotkey-item">
      <span class="text-filled">^L</span>ogout
    </span>

    <span class="divider mx-1">|</span>
    <span class="footer-hotkey-item">
      <span class="text-filled">^T</span>avern
    </span>

    <span class="divider mx-1">|</span>
    <span class="footer-hotkey-item">
      <span class="text-filled">^A</span>bout
    </span>
  <% end %>
</div>

<div class="copyright text-right pt-1">
  &copy; <%= Date.today.year == 2022 ? "2022" : "2022 - #{Date.today.year}" %> <a href="https://richardcagle.dev">Richard Cagle</a>
</div>
