<div class="col-span-3 md:col-span-2 text-center md:text-left" data-controller="hotkey">
  <span>
    <span class="bg-terminal-green text-stone-800 font-bold pr-1"><span class="text-xl">&#x2387;</span>H</span>ome
  </span>

  <% if !logged_in? %>
    <span class="mx-1">|</span>
    <span>
      <span class="bg-terminal-green text-stone-800 font-bold pr-1"><span class="text-xl">&#x2387;</span>R</span>egister
    </span>
  <% end %>

  <% if logged_in? %>
    <span class="mx-1">|</span>
    <span>
      <span class="bg-terminal-green text-stone-800 font-bold pr-1"><span class="text-xl">&#x2387;</span>L</span>ogout
    </span>

    <span class="mx-1">|</span>
    <span>
      <span class="bg-terminal-green text-stone-800 font-bold pr-1"><span class="text-xl">&#x2387;</span>T</span>avern
    </span>

    <span class="mx-1">|</span>
    <span>
      <span class="bg-terminal-green text-stone-800 font-bold pr-1"><span class="text-xl">&#x2387;</span>A</span>bout
    </span>
  <% end %>
</div>

<div class="col-span-3 md:col-span-1 text-center md:text-right text-sm pt-1">
  &copy; <%= Date.today.year == 2022 ? "2022" : "2022 - #{Date.today.year}" %> <a href="https://richardcagle.dev">Richard Cagle</a>
</div>
