<footer class="px-2 py-1">
  <div class="footer-controls">
    <span class="footer-control-item">
      <span class="text-filled">^H</span>ome
    </span>
    <% if logged_in? %>
      <span class="divider mx-1">|</span>
      <span class="footer-control-item">
        <span class="text-filled">^L</span>ogout
      </span>

      <span class="divider mx-1">|</span>
      <span class="footer-control-item">
        <span class="text-filled">^G</span>ames
      </span>
    <% end %>
  </div>
</footer>
