<footer class="fixed-bottom p-1">
  <span class="application-hotkey"><span class="hotkey">^H</span><span class="hotkey-label">ome</span></span>
  <span class="application-hotkey"><span class="hotkey">^F</span><span class="hotkey-label">riends</span></span>
  <span class="application-hotkey"><span class="hotkey">^C</span><span class="hotkey-label">haracters</span></span>
  <span class="application-hotkey"><span class="hotkey">^G</span><span class="hotkey-label">ames</span></span>
  <span class="application-hotkey"><span class="hotkey">^S</span><span class="hotkey-label">ettings</span></span>
</footer>
