<header class="px-2 pb-1 mb-2 columns is-vcentered is-gapless">
  <h1 class="is-size-3 column">
    <%= link_to root_path do %>
      SuperTextAdventure
    <% end %>
    <small>v0.1</small>
  </h1>
  <div class="column has-text-centered">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="column pt-3 has-text-right">
    <% if logged_in? %>
      Logged in as <span class="has-text-weight-bold"><%= current_user.username %></span>
    <% end %>
  </div>
</header>
