<nav class="navbar navbar-expand-lg text-center">
  <a class="navbar-brand mx-auto" href="/">
    <img src="/shield.svg" width="25" height="30" class="d-inline-block align-top" alt="">
    Super Text Adventure
  </a>

  <% unless current_user.nil? %>
    <div class="float-right sign-out">
      <%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'Signeth Out?' } do %>
        <span class="hidden-text"><small>Sign Out</small></span> <img src="/sign-out.svg" width="25" height="25">
      <% end %>
    </div>
  <% end %>
</nav>
